body {
	font-family: 'Open Sans', sans-serif;
  	min-height: 2000px;
  	padding-top: 0px;
}

#home {
  	background: 
	    linear-gradient(
    		rgba(0, 0, 0, 0.6), 
      		rgba(0, 0, 0, 0.6)
    	),
    	/* bottom, image */
    	url(images/background.jpg);
	background-size: cover;
}

#home .row {
	padding: 325px 30px 325px 30px;
	text-align: center;
	color: white;
}

#about .img-circle {
	height: 375px;
	width: 375px;
    border: 1px solid #333333;
    display: block;
    margin: 0 auto;
}

#about {
	background-color: #FAFAFA;
}

#about .row {
	padding: 170px 30px 170px 30px;
	color: #333333;
}

#jobs {
  	background: 
	    linear-gradient(
    		rgba(0, 0, 0, 0.6), 
      		rgba(0, 0, 0, 0.6)
    	),
    	/* bottom, image */
    	url(images/fifth.jpg);
	background-size: cover;
}

#jobs .row {
	padding: 285px 30px 240px 30px;
	text-align: center;
	color: white;
}

#jobs .container {
	text-align: center;
	color: white;
	padding: 0px 0px 10px 0px;
}

#skills {
	background-color: #FAFAFA;
}

#skills .thumbnail {
	margin-bottom:6px;
	border-radius: 50px;
	width: 250px;
	display: block;
    margin: 0 auto;
}

#skills .row {
	padding: 50px 30px 50px 30px;
	color: white;
}

#projects {
  	background: 
	    linear-gradient(
    		rgba(0, 0, 0, 0.6), 
      		rgba(0, 0, 0, 0.6)
    	),
    	/* bottom, image */
    	url(images/first.jpg);
	background-size: cover;
}

#projects .row {
	padding: 180px 30px 185px 30px;
	color: white;
}

#projects .img-circle {
	height: 375px;
	width: 375px;
    border: 3px solid white;
    display: block;
    margin: 0 auto;
}

#projects .thumbnail {
	margin-bottom:6px;
	border-radius: 50px;
	width: 250px;
	display: block;
    margin: 0 auto;
}

#projects .container {
	text-align: center;
	color: white;
	padding: 0px 0px 10px 0px;
}

.carousel {
	width:275px;
	margin: 0 auto;
}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  width:0%;
}
