body {
	font-family: 'Open Sans', sans-serif;
  	min-height: 2000px;
  	padding-top: 0px;
}

#home {
  	background: 
	    linear-gradient(
    		rgba(0, 0, 0, 0.6), 
      		rgba(0, 0, 0, 0.6)
    	),
    	/* bottom, image */
    	url(images/background.jpg);
	background-size: cover;
}

#home .row {
	padding: 325px 30px 325px 30px;
	text-align: center;
	color: white;
}

#about .img-circle {
	height: 375px;
	width: 375px;
    border: 3px solid white;
    display: block;
    margin: 0 auto;
}

#about {
	background-color: #4C619C;
}

#about .title {
	padding: 0px 0px 0px 0px;
	text-align: center;
	font-size: 60px;
}

#about .row {
	padding: 170px 30px 170px 30px;
	color: white;
}

#jobs {
	background-color: #3D868D;
}

#jobs .row {
	padding: 285px 30px 240px 30px;
	text-align: center;
	color: white;
}

#jobs .container {
	text-align: center;
	color: white;
	padding: 0px 0px 10px 0px;
}

#skills {
	background-color: #8673BB;
}

#skills .row {
	padding: 325px 30px 325px 30px;
	color: white;
}

